Package: com.billyellis.nanochargingview
Name: NanoChargingView
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Billy Ellis
Author: Billy Ellis
Section: Tweaks
Version: 0.0.1-14
Installed-Size: 4468
