Package: com.aditkamath.nanochargingview
Name: NanoChargingView
Version: 1.0
Architecture: iphoneos-arm
Depends: mobilesubstrate
Description: Replicates WatchOS's charge view.
Maintainer: Adit Kamath <adit@aditkamath.com>
Author: Adit Kamath <adit@aditkamath.com>
Section: Tweaks
